{% extends 'base.html.twig' %}
{% import 'macros/_product_item.html.twig' as product_row %} 

{% block body %}
    {% include 'landing_page/header.html.twig' %}
    <h1>Las 10 Mejores Barras de Sonido en España</h1>
    <table>
        <thead>
            <tr>
                <th>Producto</th>
                <th>Nuestra Puntuación</th>
                <th>Características Clave</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr style="height: 10px;"><td></td></tr>
            {% for product in products %}
                {{ product_row.product_row(product, loop.index) }}
            {% endfor %}
        </tbody>
    </table>
{% endblock %}

